.PostTitle{
  position: absolute;
  top: 7%;
  margin-left: 35%;
  font-size: 17px;
}

.projectName,
.startDay,
.endDay{
  width: 320px;
  height: 49px;
  margin-left: 5%;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 3%;
  margin-top: 7%;
  border-color: rgba(0, 0, 0, 0.34);
  border-width: 1px;
  padding-left:15px ;
}

.PostInput{
  margin-top: 10%;
}

.PostInputTitle,
.PostInputTeam{
  position: absolute;
  margin-left: 6%;
}

.PostInputStartDay,
.PostInputEndDay{
  margin-left: 6%;
}

.teamDropdown{
  width: 30%;
  padding: 10px;
  font-size: 16px;
  margin-top: 8%;
  margin-left: 5%;
  border: 1px solid #9D9D9D;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10%;
}

.teamDropdown:focus,
.projectTextarea:focus{
  border-color: #4198FF;
  outline: none;
  border-width: 2px;
}

.PostInputEndDay{
  margin-top: 3%;
}
.endDay{
  margin-top: 10%;
}

.projectTextarea{
  border: 1px solid #9D9D9D;
  padding: 13%;
  width: 63%;
  margin-bottom: 8%;
}

.projectContent,
.projectTextarea{
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 7px;
}

.projectContent{
  margin-top: 7%;
}

.postCreate{
  width: 340px;
  height: 45px;
  margin-left: 5%;
  border-radius: 10px;
  border-style: solid;
  border: none;
  color: #fff;
  background-color: #4198FF;
}


.datePickerWrapper1,
.datePickerWrapper2{
  margin-left: 5%;
  margin-top: 3%;
  width: 335px;
  height: 40px;
  padding-top: 1%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #9D9D9D;
}

.datePickerWrapper2{
  /* margin-top: 11%; */
}

.startDataPicker,
.EndDataPicker{
  border:none;
  margin-top: 2%;
  margin-left: 2%;
}



