.PostTitle{
  position: absolute;
  top: 7%;
  margin-left: 35%;
  font-size: 17px;
}

.PostInput{
  margin-top: 10%;
}

.PostInputTitle,
.PostInputTeamSize,
.PostInputStartDay,
.PostInputEndDay{
  position: absolute;
  margin-left: 6%;
}

.teamSizeDropdown {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  margin-top: 8%;
  margin-left: 5%;
  border: 1px solid #9D9D9D;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10%;
}

.teamSizeDropdown:focus,
.projectTextarea:focus{
  border-color: #4198FF;
  outline: none;
  border-width: 2px;
}

.PostInputEndDay{
  margin-top: 3%;
}
.endDay{
  margin-top: 10%;
}

.projectTextarea{
  border: 1px solid #9D9D9D;
  padding: 13%;
  width: 63%;
  margin-bottom: 8%;
}

.projectContent,
.projectTextarea{
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 7px;
}

.projectContent{
  margin-top: 7%;
}

.postCreate{
  width: 340px;
  height: 49px;
  margin-left: 5%;
  border-radius: 10px;
  border-style: solid;
  border: none;
  color: #fff;
  background-color: #4198FF;
}