*{
  margin: 0;
}

.LoginLogoImg{
  margin-left: 19%;
  margin-top: 40%;
  margin-bottom: 20%;
  width: 250px;
}

.LoginBtn,
.LoginPassInput,
.LoginInput{
  width: 320px;
  height: 49px;
  margin-left: 7%;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 3%;
}

.LoginInput,
.LoginPassInput{
  margin-top: 7%;
  border-color: rgba(0, 0, 0, 0.34);
  border-width: 1px;
}

.LoginPassInput{
  margin-bottom: 13%;
  
}
.LoginBtn{
  width: 340px;
  border: none;
  background-color: #4198FF;
  color: #fff;
}

.LoginBtn:disabled {
  background-color: #D0D0D0;
}

.search{
  color: #9D9D9D;
  font-size: 13px;
  margin-left: 68%;
}
input:focus{
  border-color: #4198FF;
  outline: none;
  border-width: 2px;
}